//Tamaño Media Queries 
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Overpass", sans-serif;

//Colores

$Orange500: hsl(25, 97%, 53%);

$White: hsl(0, 100%, 100%);
$Grey500: hsl(217, 12%, 63%);
$Grey900: hsl(213, 19%, 18%);
$Grey950: hsl(216, 12%, 8%);


//Tamaños fuente
$regular: 400;
$bold: 700;

